.containerhead {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    gap: 3%;
    height: 5%;

}

.containersectionpart1 {
    display: grid;
    border: 1px solid blue;
    grid-column: 1/5;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.containersectionpart2 {
    display: grid;
    border: 1px solid red;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.containersectionpart3 {
    display: grid;
    border: 1px solid red;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.containersectionpart4 {
    display: grid;
    border: 1px solid red;
    grid-column: 1/2;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.containersectionpart5 {
    display: grid;
    border: 1px solid red;
    grid-column: 1/2;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.containersectionpart6 {
    display: grid;
    border: 1px solid red;
    grid-column: 1/3;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.footersection {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    background-color: #B00000;


}

.footersection1,
.footersection2,
.footersection3,
.footersection4,
.footersection5,
.footersection6 {
    justify-self: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}