.containerhead {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.headphone {
    justify-self: end;
    align-self: center;
}

.headabout {
    justify-self: end;
}

.headblog {
    justify-self: center;
}

.headaccount {
    justify-self: end;
}

.headstop {
    justify-self: end;
}

.containersectionpart1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 5fr;
    padding-left: 10%;
    padding-right: 10%;
}

.section1,
.section2,
.section3,
.section4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: rgba(214, 212, 212, 0.88);
}

.section5 {
    grid-area: 1/5/5/6;

}

.section6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    grid-column: 1/5;

}

.section7 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #808080;
    grid-column: 1/5;

}

.section8 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #B00000;
    border-radius: 8px;
    text-align: center;
}

.section9 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    margin-left: 10%;
}


.containersectionpart2 {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 50% repeat(3, 1fr);
    gap: 5px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;

}

.section10 {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #18191F;
    padding-right: 7%;
}

.section11,
.section12,
.section13,
.section15,
.section16,
.section17 {
    justify-self: center;
    align-self: center;
}


.section14 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #18191F;
    padding-right: 7%;
}

.containersectionpart3 {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

.section18,
.section19,
.section20,
.section21 {
    justify-self: center;
    margin: 5%;
}

.section22,
.section23,
.section24,
.section25 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    justify-self: center;
    margin: 5%;

}

.section26,
.section27,
.section28,
.section29 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    justify-self: center;
    margin: 5%;
}

.containersectionpart4 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
}

.section30 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
}

.section31 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-left: 20%;
    margin-right: 20%;
    justify-self: center;
    align-self: center;
}

.containersectionpart41 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.section32,
.section33,
.section34,
.section35 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    align-self: center;
}

.section34 {
    justify-self: end;
}

.section35 {
    background-color: #FFE87A;
    border-radius: 8px;
    justify-self: center;
}

.containersectionpart5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding-left: 30%;
    padding-right: 25%;
    padding-bottom: 3%;

}

.section36,
.section37 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.containersectionpart6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.containersectionpart61,
.containersectionpart62,
.containersectionpart63 {
    border: 2px solid #C4C4C4;
    grid-template-rows: repeat(14, 1fr);
    border-radius: 8px;
    padding: 15%;

}

.section38,
.section52,
.section66 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 25px;
}

.section39,
.section53,
.section67 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

}

.section40,
.section54,
.section68 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 32px;
}

.section41,
.section55,
.section69 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.section42,
.section56,
.section70 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

.section00 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #808080;
}

.containersectionpart7 {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
}



.containersectionpart8 {
    display: grid;
    grid-template-columns: 60% repeat(3, 1fr);
    padding-left: 10%;
    padding-right: 10%;

}

.section85 {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #18191F;
    padding-right: 20%;
}

.section89 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #18191F;
    padding-right: 20%;
}

.containersectionpart9 {
    display: grid;
    justify-content: center;
    margin-bottom: 5%;
}


.footersection {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-gap: 30px;
    background-color: #B00000;
    padding: 104px;
}

.footersection1 {
    color: #E6E6E6;
}

.footersection2,
.footersection3,
.footersection4,
.footersection5,
.footersection6 {

    grid-template-rows: repeat(5, 1fr);
    color: #E6E6E6;
}

.footersection6 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    grid-column: 1/6;

}

.footersection1text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #E6E6E6;
}

.footersection00 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}